body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#progressContainer {
  width: 50%;
  margin: auto;
  background: #ddd;
  height: 25px;
  position: relative;
}
.progress-bar {
  background: green;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}
#uploadProgressContainer {
  width: 50%;
  margin: auto;
  background: #ddd;
  height: 25px;
  position: relative;
}
#uploadProgressBar {
  background: blue;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}
